streamlit
extra-streamlit-components
python-dotenv
llama-index
llama-parse
llama-index-llms-groq
llama-index-embeddings-fastembed
fastembed
llama-index-vector-stores-qdrant
qdrant-client
tiktoken
fastapi
uvicorn
duckduckgo-search
